wheel==0.46.1
twine==6.1.0; python_version < "3"
twine==6.1.0; python_version >= "3"
coverage==7.9.2
django==5.2.4; python_version < "3"
django==5.2.4; python_version >= "3"
flake8==7.3.0
pylint==3.3.7; python_version < "3"
pylint==3.3.7; python_version >= "3"
six==1.15.0; python_version < "3"
ndg-httpsclient>=0.5.1; python_version < "3"
mock<3.1; python_version < "3"
